* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

main {
  width: 626px;
  margin: 32px auto;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #3F3D56;
  margin: 28px auto;
}

h1 span {
  color: #EE24FF;
  font-weight: 700;
}

p {
  font-size: 15px; 
  line-height: 22px;
  color: #828282;
}

p strong {
  color: #3F3D56;
}

p + P {
  margin-top:16px ;
}

.line {
  width: 391px;
  border-top: 1px solid #ECEFF2;
  margin: auto;
}

footer a {
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;

  display: inline-block;
  padding-top: 16px;
  color: #3F3D56;
}

footer a + a {
  margin-left: 42px;
}

footer img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

